# Programmentwurf Data Science Prototyp v1.0

Es ist ein stark vereinfachter und abge채nderter Hausdatensatz gegeben, 
in dem 17 verschiedene Merkmale von H채usern gegeben sind mit 900 Datenpunkten 
sowie eine Beschreibung der 17 Merkmale. 
Andere Merkmale sind ausdr체cklich nicht Teil der Aufgabe.

## Struktur der Daten

MSZoning: Identifies the general zoning classification of the sale.
		
       A	Agriculture
       C	Commercial
       FV	Floating Village Residential
       I	Industrial
       RH	Residential High Density
       RL	Residential Low Density
       RP	Residential Low Density Park 
       RM	Residential Medium Density
	
LotArea: Lot size in square feet

Neighborhood: Physical locations within Ames city limits

       Blmngtn	Bloomington Heights
       Blueste	Bluestem
       BrDale	Briardale
       BrkSide	Brookside
       ClearCr	Clear Creek
       CollgCr	College Creek
       Crawfor	Crawford
       Edwards	Edwards
       Gilbert	Gilbert
       IDOTRR	Iowa DOT and Rail Road
       MeadowV	Meadow Village
       Mitchel	Mitchell
       Names	North Ames
       NoRidge	Northridge
       NPkVill	Northpark Villa
       NridgHt	Northridge Heights
       NWAmes	Northwest Ames
       OldTown	Old Town
       SWISU	South & West of Iowa State University
       Sawyer	Sawyer
       SawyerW	Sawyer West
       Somerst	Somerset
       StoneBr	Stone Brook
       Timber	Timberland
       Veenker	Veenker
			
BldgType: Type of dwelling
		
       1Fam	Single-family Detached	
       2FmCon	Two-family Conversion; originally built as one-family dwelling
       Duplx	Duplex
       TwnhsE	Townhouse End Unit
       TwnhsI	Townhouse Inside Unit
	
OverallQual: Rates the overall material and finish of the house

       10	Very Excellent
       9	Excellent
       8	Very Good
       7	Good
       6	Above Average
       5	Average
       4	Below Average
       3	Fair
       2	Poor
       1	Very Poor
	
OverallCond: Rates the overall condition of the house

       10	Very Excellent
       9	Excellent
       8	Very Good
       7	Good
       6	Above Average	
       5	Average
       4	Below Average	
       3	Fair
       2	Poor
       1	Very Poor
		
YearBuilt: Original construction date

YearRemodAdd: Remodel date (same as construction date if no remodeling or additions)

RoofStyle: Type of roof

       Flat	    Flat
       Gable	Gable
       Gambrel	Gabrel (Barn)
       Hip	    Hip
       Mansard	Mansard
       Shed	    Shed
		
TotalBsmtSF: Total square feet of basement area

HeatingQC: Heating quality and condition

       Ex	Excellent
       Gd	Good
       TA	Average/Typical
       Fa	Fair
       Po	Poor
		
CentralAir: Central air conditioning

       N	No
       Y	Yes
		
GrLivArea: Above grade (ground) living area square feet
      	
TotRmsAbvGrd: Total rooms above grade (does not include bathrooms)
	
GarageCars: Size of garage in car capacity

YrSold: Year Sold (YYYY)

### Teil 1 (8 + 5 P):
Der Datensatz ist mit Hilfe statistischer Standardfunktionen zu analysieren, zu interpretieren und ggfs. zu bereinigen. Nutzen Sie visuelle, in die Programmierumgebung eingebettete Darstellungsarten, um wichtige Zusammenh채nge zu visualisieren. Beschreiben Sie die Ergebnisse.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
%matplotlib inline 

df = pd.read_csv('SetFiltered.csv', delimiter=";")
df.head()

,MSZoning,LotArea,Neighborhood,BldgType,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,TotalBsmtSF,HeatingQC,CentralAir,GrLivArea,TotRmsAbvGrd,GarageCars,YrSold,SalePrice
0,RL,9590,Timber,1Fam,7,5,2003,2003,Gable,868,Ex,Y,1146,6,2,2007,187500
1,RL,12256,NoRidge,1Fam,8,5,1994,1995,Gable,1463,Ex,Y,2622,9,2,2010,325000
2,RL,12108,Edwards,Duplex,4,4,1955,1955,Gable,1440,TA,N,1440,8,0,2008,118000
3,RL,7500,Sawyer,1Fam,5,5,1963,1963,Gable,1040,Fa,Y,1040,5,1,2010,133000
4,RM,6000,OldTown,2fmCon,4,4,1953,1953,Gable,936,TA,N,936,4,2,2009,93000

In [2]:
df = df.sort_values(by=['GrLivArea'], ascending=True)
df.head()

,MSZoning,LotArea,Neighborhood,BldgType,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,TotalBsmtSF,HeatingQC,CentralAir,GrLivArea,TotRmsAbvGrd,GarageCars,YrSold,SalePrice
230,RL,5000,BrkSide,1Fam,1,3,1946,1950,Gable,0,Fa,N,334,2,0,2007,39300
103,RL,8400,SWISU,1Fam,2,5,1920,1950,Gable,290,TA,N,438,3,1,2009,60000
363,RM,6324,BrkSide,1Fam,4,6,1927,1950,Gable,520,Fa,N,520,4,1,2008,68500
424,RL,9098,Edwards,1Fam,4,7,1920,2002,Gable,528,Ex,Y,605,5,0,2007,86000
518,RM,6000,BrkSide,1Fam,5,7,1921,1950,Gable,616,Gd,Y,616,4,1,2006,89000

In [3]:
df.tail()

,MSZoning,LotArea,Neighborhood,BldgType,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,TotalBsmtSF,HeatingQC,CentralAir,GrLivArea,TotRmsAbvGrd,GarageCars,YrSold,SalePrice
545,RL,14100,Crawfor,1Fam,8,9,1935,1997,Gable,728,Ex,Y,3447,11,3,2008,381000
155,RM,18386,OldTown,1Fam,7,9,1880,2002,Gable,1470,Ex,Y,3493,10,3,2008,295000
746,RM,22950,OldTown,1Fam,10,9,1892,1993,Gable,1107,Ex,Y,3608,12,3,2006,475000
657,RL,35760,NoRidge,1Fam,10,5,1995,1996,Hip,1930,Ex,Y,3627,10,3,2006,625000
893,RL,21535,NoRidge,1Fam,10,6,1994,1995,Gable,2444,Ex,Y,4316,10,3,2007,755000

In [4]:
# Checking the datatypes
df.dtypes

MSZoning        object
LotArea          int64
Neighborhood    object
BldgType        object
OverallQual      int64
OverallCond      int64
YearBuilt        int64
YearRemodAdd     int64
RoofStyle       object
TotalBsmtSF      int64
HeatingQC       object
CentralAir      object
GrLivArea        int64
TotRmsAbvGrd     int64
GarageCars       int64
YrSold           int64
SalePrice        int64
dtype: object

In [5]:
# renaming columns 
df = df.rename(columns={"HeatingQC": "Heating Quality and Condition","BldgType": "Dwelling Type", "RoofStyle":"Roof Style", "MSZoning":"Zoning Classification", "LotArea": "Lot Area", "OverallQual":"Overall Quality", "OverallCond":"Overall Condition","YearBuilt":"Year Built", "TotalBsmtSF":"Basement Area SF", "YearRemodAdd": "Remodel Date", "GrLivArea": "Ground Area SF", "TotRmsAbvGrd": "Total Rooms above Ground", "YrSold": "Year Sold", "GarageCars": "Garage Cars", "SalePrice": "Sale Price"})
df.head()

,Zoning Classification,Lot Area,Neighborhood,Dwelling Type,Overall Quality,Overall Condition,Year Built,Remodel Date,Roof Style,Basement Area SF,Heating Quality and Condition,CentralAir,Ground Area SF,Total Rooms above Ground,Garage Cars,Year Sold,Sale Price
230,RL,5000,BrkSide,1Fam,1,3,1946,1950,Gable,0,Fa,N,334,2,0,2007,39300
103,RL,8400,SWISU,1Fam,2,5,1920,1950,Gable,290,TA,N,438,3,1,2009,60000
363,RM,6324,BrkSide,1Fam,4,6,1927,1950,Gable,520,Fa,N,520,4,1,2008,68500
424,RL,9098,Edwards,1Fam,4,7,1920,2002,Gable,528,Ex,Y,605,5,0,2007,86000
518,RM,6000,BrkSide,1Fam,5,7,1921,1950,Gable,616,Gd,Y,616,4,1,2006,89000

In [6]:
#df.describe(include='all')
df.describe()

,Lot Area,Overall Quality,Overall Condition,Year Built,Remodel Date,Basement Area SF,Ground Area SF,Total Rooms above Ground,Garage Cars,Year Sold,Sale Price
count,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000
mean,10629.817778,6.014444,5.652222,1969.347778,1984.185556,1028.166667,1487.441111,6.415556,1.745556,2007.896667,176184.454444
std,9947.088936,1.336912,1.151555,29.573049,20.195265,403.019702,504.588271,1.601786,0.715887,1.306010,71412.482393
min,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,334.000000,2.000000,0.000000,2006.000000,39300.000000
25%,7432.250000,5.000000,5.000000,1953.000000,1966.000000,790.250000,1102.750000,5.000000,1.000000,2007.000000,130000.000000
50%,9475.000000,6.000000,5.000000,1971.000000,1993.000000,968.500000,1443.500000,6.000000,2.000000,2008.000000,161000.000000
75%,11700.000000,7.000000,6.000000,1998.000000,2002.000000,1249.500000,1750.500000,7.000000,2.000000,2009.000000,205000.000000
max,164660.000000,10.000000,9.000000,2009.000000,2009.000000,3206.000000,4316.000000,12.000000,4.000000,2010.000000,755000.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 900 entries, 230 to 893
Data columns (total 17 columns):
Zoning Classification            900 non-null object
Lot Area                         900 non-null int64
Neighborhood                     900 non-null object
Dwelling Type                    900 non-null object
Overall Quality                  900 non-null int64
Overall Condition                900 non-null int64
Year Built                       900 non-null int64
Remodel Date                     900 non-null int64
Roof Style                       900 non-null object
Basement Area SF                 900 non-null int64
Heating Quality and Condition    900 non-null object
CentralAir                       900 non-null object
Ground Area SF                   900 non-null int64
Total Rooms above Ground         900 non-null int64
Garage Cars                      900 non-null int64
Year Sold                        900 non-null int64
Sale Price                       900 non-null int64
dtypes: int64(11), object(6)
memory usage: 126.6+ KB